@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Noto+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans', 'Noto Sans TC', system-ui, sans-serif;
    @apply text-grey-600;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
    line-height: 1.2;
  }
  label {
    @apply mb-2 block text-base font-bold text-grey-500;
  }
}

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full rounded border-grey-200 focus:border-primary focus:ring-primary;
  }
  [type='checkbox'],
  [type='radio'] {
    @apply h-8 w-8 border-2 border-grey-200 hover:cursor-pointer focus:ring-primary;
  }
  [type='radio']:checked {
    @apply border-primary text-white;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="rgb(243 107 107)" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="3"/></svg>');
  }
  [type='radio']:focus {
    @apply ring-opacity-0;
  }
  [type='radio']:checked:focus {
    @apply border-primary;
  }
  [type='radio']:checked:hover {
    @apply border-primary text-white;
  }
}

@layer components {
  .btn {
    @apply rounded-4xl border-2 px-8 py-3 text-center font-bold
    transition-all hover:scale-105 hover:cursor-pointer active:scale-95;
  }
  .btn-primary {
    @apply border-transparent bg-primary text-white hover:border-primary hover:bg-transparent hover:text-primary active:bg-transparent;
  }
  .btn-primary-outline {
    @apply border-primary bg-transparent text-primary hover:bg-primary
    hover:text-white active:bg-primary;
  }

  .badge {
    @apply cursor-pointer rounded-full px-5
    py-2 text-center text-h6 font-bold;
  }

  .progress {
    @apply h-full rounded-full;
  }
}
